/*
 $Id$

 settings specific for view / node objects

*/

/* general */

a[href]:hover {
    text-decoration: none;
    color: #803000;
}

pre {
    font-size: 100%;
    background-color: #f4f4f4;
    overflow: scroll;
    max-height: 35em;
}

ol, ul, p {
    margin-top: 0.4em;
    margin-bottom: 0.5em;
}

ol li, ul li {
    line-height: 1.5em;
}

blockquote ul {
    margin: 0;
}

/* class-specific */

table.listing td {
    white-space: normal;
}

dl.docutils dt {
    font-weight: bold;
    margin-top: 0.3em;
}

dl.docutils dd {
    margin-left: 2em;
}

dl.docutils dd ul li {
    margin-left: -1em;
}

fieldset.box {
    margin: 1em 0 0.5em 0;
    padding: 0.5em;
    border: 1px solid #ccc;
}

fieldset.box td {
    padding: 0.2em 0.2em 0.2em 0;
}

#body {
    margin-left: 5px;
}

.top-actions {
    position: absolute;
    right: 2em;
    top: 1em;
}

.top image {
    margin-top: -1px;
}

.content-1 h1, h1 {
    font-size: 180%;
    margin-top: 0.8em;
}

.content-2 h1, .content-1 h2, h2 {
    font-size: 160%;
    font-weight: normal;
    margin-top: 0.7em;
}

.content-3 h1, .content-2 h2, .content-1 h3, h3 {
    font-size: 145%;
    font-weight: normal;
    margin-top: 0.7em;
}

.content-4 h1, .content-3 h2, .content-2 h3, .content-1 h4, h4 {
    font-size: 125%;
    font-weight: normal;
    margin-top: 0.7em;
}

.content-5 h1, .content-4 h2, .content-3 h3, content-2 h4 {
    font-size: 110%;
    border: none;
    margin-top: 0.7em;
}

.box {
    margin: 12px;
    /*margin: 5px;*/
    padding: 6px;
    padding-top: 0;
}

div.box {
    margin: 12px 12px 8px 12px;
    border: 1px solid #ccc;
    border-bottom: none;
}

div.box h4 {
    font: 110% Verdana, Tahoma, Arial, Helvetica, sans-serif;
    color: #000040;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 4px;
    padding-top: 1px;
    padding-bottom: 3px;
    background-color: #ddd;
    height: auto;
}

.box h1, .box h2, .box h3 {
    border-bottom: None;
}

.box div.body div.even {
    background-color: #f4f4f4;
}

.box div.body div {
    padding: 0.2em 0.2em 0.2em 0.3em;
}

div.action {
    border-top: 1px solid #eeeeee;
}

div.menu-1, div.menu-2 {
    border-top: 1px solid #eeeeee;
    font-weight: bold;
}

.box div.body div.menu-3 {
    border-top: none;
    padding: 0.1em 0 0.2em 1.5em;
}

.box div.body div.menu-4 {
    padding-left: 3em;
    font-size: 90%
}

.delete-item a[href] {
    color: #ff7777;
    font-weight: bold;
    text-decoration: none;
}

.subcolumn {
    display: inline;
    float: left;
}

.footer {
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: none;
    margin-top: 12px;
    padding-top: 6px;
}

.icon-action {
    display: inline;
}

.flow-left {
    float: left;
}

.flow-right {
    float: right;
}

div.image {
    margin-top: 10px;
    margin-right: 5px;
}

img.selected {
    border: 2px solid #d6dcf6;
}

img.notselected {
    border: 2px solid #eff8ff;
}

.navlink {
    font-size: 130%;
    margin-bottom: 1em;
}

.navlink a {
    font-weight: bold;
    text-decoration: underline;
}

.subtitle {
    font-size: 140%;
    font-weight: bold;
    margin: 1em 0 0.5em 0;
}

.button {
    margin: 1em 0 1em 0;
}

.button a, .button a:visited {
    padding: 2px 4px 2px 4px;
    background-color: #e8e8e8;
    text-decoration: None;
    color: Black;
    border-width: 2px;
    border-style: solid;
    border-color: #f4f4f4 #989898 #989898 #f4f4f4;
}

.button a:active {
    border-color: #989898 #f4f4f4 #f4f4f4 #989898;
}

table.listing {
    margin: 1px;
    margin-top: 6px;
}

table.listing th {
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    color: #000040;
}

.itemViews {
    border-bottom-width: 2px;
}

.dialog .headline {
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    padding: 1em 0 1em 0;
}

/* search stuff */

.searchForm input.button, input.submit {
    padding: 2px;
}

.searchForm input.submit {
    font-weight: bold;
}

/* blog */

.blog .description {
    font-size: 90%;
    color: #666666;
}

.blogpost .description {
    font-weight: bold;
    font-size: 90%;
    color: #666666;
    padding-top: 0.4em;
}

.blog .info, .blogpost .info {
    font-style: italic;
    font-size: 90%;
    color: #666666;
    padding-top: 0.4em;
}

/* dojo stuff */

.dijitDialog {
    background-color: #aaaaaaa;
    border: 1px solid #999;
    padding: 5px;
}

.dijitDialogPaneContent {
    background-color: #aaaaaaa;
}

.dijitDialog th {
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    padding: 0 5px 8px 5px;
}

.dijitDialog td {
    padding: 2px;
}

.dijitDialog .headline {
    font-weight: bold;
}

.dijitDialog input.text {
    width: 100%;
    margin-right: 10px;
}

.dijitDialog input.submit {
    font-weight: bold;
}

.dijitDialogUnderlay {
    background-color: White;
}

div.RichTextEditable {
    border-top: 2px solid grey;
    border-left: 2px solid grey;
    border-right: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}
