/*
 $Id$

*/

body {
    font-size: 12px;
}

#top, #portlets, #footer, #comments, #object-actions {
    display: none;
}

.breadcrumbs {
    display: none;
}

.container {
    width: auto;
    margin: 0;
    border: 0;
}

#content {
    width: auto;
    color: Black;
}

