<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> //-->
<html xmlns:nevow="http://nevow.com/ns/nevow/0.1">

<!-- StartPage for loops.agent UI    Version: 0.1 //-->

<nevow:invisible nevow:render="header_fragment" />

  <body>
    <div class="body">
    <div nevow:render="top_fragment" >
    </div>


    <div id="menu">

      <div nevow:render="navigation_fragment">
      </div>

        <br/>
        <br/>

        <div class="box">
          <h4>User Mode</h4>
          <div class="body">
          <b>Current Mode: </b><p nevow:render="getActiveUserMode"/>
              <p><div align="center"><a href="ChangeUserMode"><b>[Switch Mode]</b></a></div></p>
          </div>
        </div>
    </div>


    <div id="content">
    <div></div>
    <div></div>

    <div class="content-1" id="2.body" ondblclick="">
        <div class="line-block">
            <div class="line"><br /></div>
            </div>
            <div class="section">
            <h3><a id="agent-ui-startpage" name="agent-ui-startpage">Startpage</a></h3>

            <ul class="simple">
            <li>This page contains some information about the loops agent UI. On the left side you can find the
            navigation panel where you can choose between a general job overview to be displayed, add a job or change the
            logging options. Also below this navigation menue you will find a button which switches the User mode between
            <i>Professional</i> and <i>Simple Mode</i>. This button is to be found on this start page only.</li>
            </ul>
            </div>
            <div class="section">
                <h3><a id="agent-version" name="agent-version">Version</a></h3>
                <ul class="simple">
                <li>Agent: <div nevow:render="getAgentVersion"/></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="sub-section" define-macro="sub-section">
    </div>

    <div nevow:render="footer_fragment">
    </div>

    </div>

    </body>

</html>