<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> //-->
<html xmlns:nevow="http://nevow.com/ns/nevow/0.1">

<!-- Outlook Mails Page for loops.agent UI    Version: 0.1 //-->

<nevow:invisible nevow:render="header_fragment" />

  <body>
    <div class="body">
        <div nevow:render="top_fragment">
        </div>

    <div id="menu">

    <div nevow:render="navigation_fragment">
    </div>

        <br/>
        <br/>

        <div class="box">
          <h4>User Mode</h4>
          <div class="body">
          <b>Current Mode: </b><p nevow:render="getActiveUserMode"/>

          </div>
        </div>

    </div>

    <div id="content">
    <div></div>
    <div></div>

    <div class="content-1" id="2.body" ondblclick="">
        <div class="line-block">
            <div class="line"><br /></div>
            </div>
            <div class="section">
            <h3><a id="agent-ui-startpage" name="agent-ui-startpage">Agent: collected Outlook Mails</a></h3>

            <ul class="simple">
            <li>All currently available Outlook Mails collected by the loops agent</li>
            </ul>
            </div>
            <div class="section">
                <h3><a id="form-overview" name="form-overview">Overview</a></h3>
                <ul class="simple">
                <li><b>Mail Collection</b><div nevow:render="data" nevow:data="displayViewForm"/></li>
                </ul>
                <div align="center">
                <table border="0" cellpadding="10">
                    <p nevow:render="displayOutlookMails">
                        <tr nevow:pattern="OutlookMails" nevow:render="data"/>
                    </p>
                </table>
                </div>
            </div>
        </div>
    </div>

    <div id="sub-section" define-macro="sub-section">
    </div>

    <div nevow:render="footer_fragment">
    </div>

    </div>

    </body>

</html>