<div class="box">
  <h4>Navigation</h4>
  <div class="body">

      <div class="content even menu-1">
        <a href="/" class="">Startpage</a>
      </div>

      <div class="content odd menu-2">Agent configuration</div>

      <div class="content odd menu-3">
        <a href="/joboverview" class="">
          job overview
        </a>
      </div>

      <div class="content odd menu-3">
         <a href="/collectOutlookMails" class="">
            add outlook crawl job
         </a>
      </div>

      <div class="content odd menu-3">
         <a href="/collectFilesystem" class="">
            add filesystem crawl job</a>
      </div>

      <div class="content odd menu-3">
         <a href="/viewRessources" class="">
            view collected ressources
         </a>
      </div>

      <div class="content odd menu-3">
         <a href="/loggingoptions" class="" title="">
            logging options
         </a>
      </div>

  </div>
</div>