<div class="box">
  <h4>Navigation</h4>
  <div class="body">

      <div class="content even menu-1">
        <a href="http://localhost:8080" class="">Startpage</a>
      </div>

      <div class="content odd menu-2">Agent configuration</div>

      <div class="content odd menu-3">
        <a href="http://localhost:8080/joboverview" class="">
          job overview
        </a>
      </div>

      <div class="content odd menu-3">
         <a href="http://localhost:8080/collectOutlookMails" class="">
            collect Outlook Mails
         </a>
      </div>

      <div class="content odd menu-3">
         <a href="http://localhost:8080/addjob" class="">
            add job</a>
      </div>

      <div class="content odd menu-3">
         <a href="http://localhost:8080/loggingoptions" class="" title="">
            logging options
         </a>
      </div>

  </div>
</div>